django==3.2.14
django-admin-honeypot==1.1.0
django-localflavor==3.1
django-loginas==0.3.10
django-taggit==3.3.0
mysqlclient==2.1.0
pyodbc==4.0.32
pysftp==0.2.9
python-ldap==3.4.0
python-memcached==1.59
requests>=2.26.0
