django==5.2.7
django-bootstrap4
django-gmailapi-json-backend
django-localflavor
django-loginas
django-summernote
django-taggit
fontawesomefree
mysqlclient
pymemcache
pyodbc
python-ldap
python-magic
python-memcached
requests
