{% load geoc %}
<div class="table-responsive mb-5">
  <table class="table table-striped table-bordered table-hover display" id="courses">
    <thead>
      <tr>
        <th style="text-align: center;">Number(s)</th>
        <th>
          Title
          <i class="fa fa-eye green ml-1" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="View Course"></i>
        </th>
        <th style="text-align: center;">Cross Listings</th>
        <th style="text-align: center;">Outcomes</th>
        <th style="text-align: center;">Status</th>
        <th style="text-align: center;">Approval Type</th>
      </tr>
    </thead>
    <tbody>
    {% for course in courses %}
      <tr>
        <td class="course-number" title="{{course.number}}">{{course.number}}</td>
        <td class="course-title">
          <a href="{% url 'detail' course.id %}" title="{{course.title}}">{{course.title}}</a>
        </td>
        <td nowrap class="pl-4">{{course.cross_listings|default:'&nbsp;'}}</td>
        <td nowrap class="pl-4">
          {% for outcome in course.outcome.all %}
            {% get_outcome course outcome as oc %}
            <a style="cursor: help;" tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="top" title="{{outcome.group}}" data-content="{{outcome}}"><i class="fa slo-{{outcome.id}} mr-1"><span style="display:none;">{{outcome}}</span></i></a>
          {% endfor %}
        </td>
        <td nowrap style="text-align: center;">
          {% if course.approved  %}
            <a style="cursor: help;" tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="Approved: {{course.approved_date}}"><i class="fa fa-check green" title="Approved"><span style="display:none;">✓</span></i>
            </a>
          {% else %}
            {% if course.furbish %}
            <i class="fa-regular fa-face-meh blue"
              data-toggle="tooltip" data-placement="top" aria-hidden='true'
              title="Needs work"></i>
            {% else %}
              {% for outcome in course.outcome.all %}
                {% get_outcome course outcome as oc %}
                <a style="cursor: help;" tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="top" title="{{outcome.group}}" data-content="{{outcome}}"><i class="mr-1 fa slo-{{outcome.id}}{% if not oc.approved %} slo-default{% endif %}"></i></a>
              {% endfor %}
            {% endif %}
          {% endif %}
        </td>
        <td nowrap style="text-align: center;">
          <a href="#" style="cursor: help;" data-toggle="tooltip" data-placement="top" aria-hidden="true" title="{% if course.confirmed_date %}Confirmed: {{course.confirmed_date}}{% else %}{% if course.approved %}Approved{% else %}Awaiting Approval{% endif %}{% endif %}">{{course.status|default:'Provisional'}}</a>
          {% if course.status == 'Confirmed' %}
          <i class="fa fa-check green" title="Confirmed"><span style="display:none;">✓</span></i>
          {% else %}
          <input type="checkbox" name="status" data-cid="{{course.id}}" value="1" title='Set approval type to "Confirmed"'>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th style="text-align: center;">Number(s)</th>
        <th>
          Title
          <i class="fa fa-eye green ml-1" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="View Course"></i>
        </th>
        <th style="text-align: center;">Cross Listings</th>
        <th style="text-align: center;">Outcomes</th>
        <th style="text-align: center;">Status</th>
        <th style="text-align: center;">Approval Type</th>
      </tr>
    </tfoot>
  </table>
</div>
