{% extends "home.html" %}
{% load static %}
{% block extra_style %}
<link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css"
  rel="stylesheet" type="text/css">
{{block.super}}
{% endblock %}
{% block extra_javascript %}
<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"
  type="text/javascript" charset="utf-8" language="javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"
  type="text/javascript" charset="utf-8" language="javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"
  type="text/javascript" charset="utf-8" language="javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"
  type="text/javascript" charset="utf-8" language="javascript"></script>
{{ block.super }}
{% endblock %}
{% block breadcrumb %}
  {% if messages %}
    {% for message in messages %}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class=" alert {{message.tags}}">
        <strong>{{ message }}</strong>
      </div>
    </div>
    {% endfor %}
  {% endif %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <h1>Designation Approvals by Student Learning Outcome</h1>
    <div class="col-7 col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
      <dl style="display: grid; width:200px;">
        <dt style="grid-column-start: 1;width:175px;"><strong>Total courses:</strong></dt>
        <dd style="grid-column-start: 2; width:10px;">{{courses.count}}</dd>
        <dt style="grid-column-start: 1;width:175px;"><strong>Total confirmed:</strong></dt>
        <dd style="grid-column-start: 2; width:10px;">{{confirmed}}</dd>
        <dt style="grid-column-start: 1;width:175px;"><strong>Total provisional:</strong></dt>
        <dd style="grid-column-start: 2; width:10px;">{{provisional}}</dd>
      </dl>
      <ol>
      {% for outcome in outcomes %}
        <li>
          <a href="{% url 'courses' outcome.id %}">{{outcome}}</a>
        </li>
      {% endfor %}
      </ol>
    </div>
    <!-- /.col-7 -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock content %}
