{% extends "djbootmin/base.html" %}
{% load static %}
{% block title %}
  General Education Course Approval Workflow &mdash;
  Office of the Provost &mdash;
  Carthage College
{% endblock %}
{% block extra_style %}
<link href="https://www.carthage.edu/themes/shared/css/tables.css" rel="stylesheet" type="text/css">
<link href="{% static 'css/dashboard.css' %}?0420" rel="stylesheet" type="text/css">
<link href="{% static 'css/main.css' %}?0420" rel="stylesheet" type="text/css">
{% endblock %}
{% block font_awesome %}
<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block extra_javascript %}
<script>
$(function() {
  $("body").toggleClass("sidenav-toggled");
});
</script>
<script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
{% endblock %}
{% block body_tag %}{% endblock %}
{% block navbar-header %}
  <i class="fas fa-home fa-2x"></i>
{% endblock %}
{% block navbar-top-links %}
  <ul class="navbar-nav ml-auto">
    <li class="dropdown user-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-user"></i> {{user.first_name|default:"Dashboard"}}
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li class="divider"></li>
            <li>
                {% if user.is_anonymous %}
                <a href="{% url 'auth_login' %}">
                    <i class="fas fa-sign-in"></i> Sign In
                </a>
                {% else %}
                <a href="{% url 'auth_logout' %}">
                    <i class="fas fa-sign-out"></i> Sign Out
                </a>
                {% endif %}
            </li>
        </ul>
    </li>
  </ul>
{% endblock navbar-top-links %}
{% block navbar-sidenav %}{% endblock %}
{% block content-wrapper %} id="wrapper" class="content-wrapper"{% endblock %}
{% block content %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block footer %}{% endblock %}
{% block logout %}{% endblock %}
