{% extends "base.html" %}
{% load static %}
{% load ifusergroup %}
{% block extra_javascript %}
<script src="https://malsup.github.io/min/jquery.blockUI.min.js"
  type="text/javascript" language="javascript"></script>
<script src="//app.carthage.edu/static/vendor/js/spin.min.js"
  type="text/javascript" language="javascript"></script>
<script src="//app.carthage.edu/static/vendor/jquery/plugins/trumbowyg_2.25.1/dist/trumbowyg.min.js"
  type="text/javascript" language="javascript"></script>
<script src="{% static 'js/main.js' %}?0420" type="text/javascript"></script>
<script>
$(function() {
  $("body").toggleClass("sidenav-toggled");
});
</script>
{% endblock %}
{% block body_tag %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block navbar-header %}
<a href="{% url 'dashboard_home' %}" class="mr-sm-3 mr-lg-3">
  <i class="fa fa-home fa-2x"></i></a>
<a class="navbar-brand" href="{% url 'dashboard_home' %}">General Education Course Approval Workflow</a>
{% endblock %}
{% block navbar-top-links %}
<ul class="navbar-nav ml-auto">
  <li class="dropdown user-dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-user"></i> {{user.first_name|default:"Dashboard"}}
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li class="divider"></li>
      <li>
      {% if user.is_anonymous %}
      <a href="{% url 'auth_login' %}">
        <i class="fa fa-sign-in"></i> Sign In
      </a>
      {% else %}
      <a href="{% url 'auth_logout' %}">
        <i class="fa fa-sign-out"></i> Sign Out
      </a>
      {% endif %}
      </li>
      {% ifusergroup 'Managers' %}
      <li><a href="{% url 'dashboard_home' %}">Dashboard</a></li>
      <li><a href="{% url 'designation_home' %}">Designations</a></li>
      {% endifusergroup %}
      {% if user.is_superuser %}
      <li class="divider"></li>
      <li><a href="{% url 'admin:index' %}">Admin</a></li>
      {% endif %}
    </ul>
  </li>
</ul>
{% endblock navbar-top-links %}
{% block navbar-sidenav %}
<ul class="navbar-nav navbar-sidenav">
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
    <a class="nav-link" href="{% url 'dashboard_home' %}">
      <i class="fa fa-fw fa-dashboard" aria-hidden="true"></i>
      <span class="nav-link-text">Dashboard</span>
    </a>
  </li>
  {% ifusergroup 'Managers' %}
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Desginations">
    <a class="nav-link" href="{% url 'designation_home' %}">
      <i class="fa fa-fw fa-table" aria-hidden="true"></i>
      <span class="nav-link-text">Designations</span>
    </a>
  </li>
  {% endifusergroup %}
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Submit a Course">
    <a class="nav-link" href="{% url 'course_create' %}">
      <i class="fa fa-chalkboard-teacher" aria-hidden="true"></i>
      <span class="nav-link-text">Submit Course</span>
    </a>
  </li>
  {% if user.is_superuser %}
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Administration">
    <a class="nav-link" href="{% url 'admin:index' %}">
      <i class="fa fa-fw fa-cog" aria-hidden="true"></i>
      <span class="nav-link-text">Administration</span>
    </a>
  </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link text-center" data-toggle="tooltip" data-placement="right" title="Expand Menu" id="sidenavToggler">
      <i class="fa fa-fw fa-angle-double-left" aria-hidden="true"></i>
    </a>
  </li>
</ul>
<ul class="navbar-nav sidenav-toggler">
  <li class="nav-item">
    <a class="nav-link text-center">
      <i class="fa fa-fw"></i>
    </a>
  </li>
</ul>
{% endblock navbar-sidenav %}
{% block content %}
<div class="row">
  {% if messages %}
    {% for message in messages %}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
      <div class=" alert {{message.tags}}">
        <strong>{{ message }}</strong>
      </div>
    </div>
    {% endfor %}
  {% endif %}
  {% include "data.inc.html" %}
</div>
<!-- /.row -->
{% endblock content %}
