{% extends "home.html" %}
{% block extra_style %}
{{block.super}}
<link href="//app.carthage.edu/static/vendor/jquery/plugins/trumbowyg_2.25.1/dist/ui/trumbowyg.min.css"
  rel="stylesheet" type="text/css">
{% endblock %}
{% block javascript %}
{{block.super}}
<script src="//app.carthage.edu/static/vendor/jquery/plugins/trumbowyg_2.25.1/dist/trumbowyg.min.js"
  type="text/javascript" language="javascript"></script>
<script type="text/javascript">
  $(function() {
    /* End course outcomes */
    $('[type="submit"]').on('click', function () {
        if ($(this).attr('id') == 'id_submit') {
            $('#id_save_submit').val('true');
        }
    });
    // disable submit button after users clicks it
    $('form#courseOutcomes').on('submit', function (e) {
        $('#id_submit').prop('disabled', true);
        $('#id_save').prop('disabled', true);
        //return false;
        return true;
    });
  });
</script>
{% endblock %}
{% block breadcrumb %}
  {% if messages %}
    {% for message in messages %}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class=" alert {{message.tags}}">
        <strong>{{ message }}</strong>
      </div>
    </div>
    {% endfor %}
  {% endif %}
{% endblock %}
{% block content %}
<div class="forms-container col-lg-8 col-md-12 col-sm-12 col-xs-12 mb-4" style="padding-right:0px !important;">
  <div class="row">
    <div class="col-11 col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">
      <h3 class="red">GEOC: {{step|title}}</h3>
      <p>
        Click on the
        <a style="cursor: help;" tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="View information about each student learning outcome group."><i class="fa fa-question-circle green" aria-hidden="true"></i></a>
        icon to view information about each student learning outcome group.
      </p>
    </div>
  </div>
  <form method="post" action="." autocomplete="false" class="form" role="form" id="courseOutcomes">
    {% if form.errors %}
      <div class="alert alert-danger mt-4">
        Please correct the errors below.
      </div>
    {% endif %}
    {% csrf_token %}
    {% for outcome in course.outcome.all %}
    <div>
      <h4>
        {{outcome.name}}
        <a style="cursor: help;" tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="{{outcome.rationale}}">
          <i class="fa fa-question-circle fa-xs green" aria-hidden="true"></i></a>
      </h4>
      {% if outcome.name == "Written Communication" %}
      <p>
        Written Communication applications are currently being run through WAC committee.
        To apply for Writing Intensive / WC designation, please use the
        <a href="https://app.carthage.edu/forms/writingcurriculum/">WAC proposal form</a>.
      </p>
      {% else %}
      {% if outcome.name == "Oral Communication" %}
        <p>Oral Communication SLO are not available at this time.</p>
      {% else %}
      <p>{{outcome.description}}</p>
      <ol>
        {% for element in outcome.elements.all %}
        <li>
          {{element.description}}
          {% for slo in element.slo.all %}
            {% if slo.course == course %}
              <div class="form-group required">
                <textarea name="slo{{slo.id}}-description" id="id_slo{{slo.id}}-description" cols="40" rows="10" class="form-control" title="Please indicate how this course meets this SLO.">{{slo.description|default:""}}</textarea>
                <small class="form-text text-muted">Please indicate how this course meets this SLO.</small>
              </div>
            {% endif %}
          {% endfor %}
        </li>
        {% endfor %}
      </ol>
      {% endif %}{% endif %}
    </div>
    {% endfor %}
    <div class="d-flex justify-content-center">
      <input type="hidden" id="id_save_submit" name="save_submit" value="">
      <label for="id_save" style="display:none;">
        Save
      </label>
      <input value="Save my work" type="submit"
        class="btn btn-primary mr-2" id="id_save"
        data-toggle="tooltip" data-placement="top"
        title="Save your work but DO NOT SUBMIT for approval">
      <label for="id_submit" style="display:none;">
        Save and Submit
      </label>
      <input value="Save &amp; Submit" type="submit"
        class="btn btn-success ml-2" id="id_submit"
        data-toggle="tooltip" data-placement="top"
        title="Save your work and SUBMIT the course for approval">
    </div>
  </form>
</div>
<!-- /.forms-container /.col-* -->
{% endblock content %}
