{% extends "home.html" %}
{% block content %}
<div class="forms-container col-lg-8 col-md-12 col-sm-12 col-xs-12 mb-4" style="padding-right:0px !important;">
  <div class="row">
  <div class="col-11 col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">
  <h3 class="red">{{form_title}}</h3>
  </div>
  <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
    <a href="{% url 'home' %}" class="mr-sm-3 mr-lg-3 float-right">
      <i class="fa fa-home fa-2x"></i></a>
  </div>
  </div>
  <form method="post" action="." autocomplete="false" class="form" role="form">
    {% if form.errors %}
      <div class="alert alert-danger mt-4">
        Please correct the errors below.
      </div>
    {% endif %}
    {% csrf_token %}
    <ul class="nobull">
    {% for field in form.visible_fields %}
      {% include "form_field.inc.html" %}
    {% endfor %}
    </ul>
    {% if not user.is_superuser %}
    <button class="btn btn-primary btn-block" type="submit" value="Submit" id="submit-button">Submit</button>
    {% endif %}
  </form>
  <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4 ml-2">
    <div class="row list-group">
    </div>
    <!-- /.row -->
  </div>
  <!-- /.col-* -->
  <p>&nbsp;</p>
</div>
<!-- /.forms-container /.col-* -->
{% endblock content %}
