{% extends "home.html" %}
{% load bootstrap4 %}
{% block extra_javascript %}
{{block.super}}
<script>
$(function() {
  $('#id_outcome').attr('style', 'width:275px');
  {% if form.outcome.errors %}
    $('.invalid-feedback').css('display', 'inherit');
  {% endif %}
});
</script>
{% endblock %}
{% block breadcrumb %}
  {% if messages %}
    {% for message in messages %}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class=" alert {{message.tags}}">
        <strong>{{ message }}</strong>
      </div>
    </div>
    {% endfor %}
  {% endif %}
{% endblock %}
{% block content %}
<div class="forms-container col-lg-8 col-md-12 col-sm-12 col-xs-12 mb-4" style="padding-right:0px !important;">
  <div class="row">
    <div class="col-11 col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">
      <h3 class="red">GEOC: Course Elements</h3>
    </div>
  </div>
  <form method="post" action="." enctype="multipart/form-data" autocomplete="false" class="form" role="form">
    {% if form.errors %}
      <div class="alert alert-danger mt-4 mb-2">
        Please correct the errors below.
      </div>
    {% endif %}
    {% csrf_token %}
    <ul class="nobull">
    {% bootstrap_form form %}
    {% bootstrap_form form_syllabus %}
    </ul>
    <button class="btn btn-primary btn-block" type="submit" value="Submit" id="submit-button">Proceed to Step 2</button>
  </form>
</div>
<!-- /.forms-container /.col-* -->
{% endblock content %}
