<div id="nid_{{note.id}}" class="card mb-3 {{bgcolor}}{% if note.created_by == user %} bg-warning{% endif %}">
  <div class="card-body">
    <div class="float-left">
      <h5 class="card-title mb-2">
      {{note.created_by.last_name}}, {{note.created_by.first_name}}
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">{{note.created_at}}</h6>
    </div>
    {% if user.is_superuser %}
    <div class="float-right">
      <a href="#" data-toggle="modal" data-href="{% url 'note_delete' note.id %}"
        data-title="Comment" data-target="#confirm-delete">
        <i class="fa fa-trash red" data-toggle="tooltip"
          data-placement="top" aria-hidden="true"
          title="Delete comment"></i></a>
      <a href="" data-toggle="modal" data-target="#textModal"
        data-nid="{{note.id}}" data-mod="comment" class="text-update">
        <i class="fa fa-pencil green"
          data-placement="top" title="Update this follow-up" aria-hidden="true"></i></a>
    </div>
    {% endif %}
    <div class="clearfix"></div>
    <div class="card-text text-dark">{{note.body|safe}}</div>
  </div>
</div>
