{% extends "home.html" %}
{% block extra_javascript %}
{{block.super}}
<script type="text/javascript">
var $annotation = "{% url 'annotation' %}";
var $cid = "{{course.id}}";
$(function() {
  $(".course-status").click(function () {
    $.ajax({
      type: "POST",
      url: "{% url 'course_status' %}",
      data: {'status': $(this).data('status'), 'cid': '{{course.id}}'},
      cache: false,
      beforeSend: function() {
        spinner.spin(target);
      },
      success: function(data) {
        spinner.stop(target);
        $.growlUI(data);
        $('#courseStatus').hide();
      },
      error: function(data) {
        spinner.stop(target);
        $.growlUI('Error', data);
      }
    });
  });
  $('#print').click(function() {
    window.print();
    return false;
  });
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
{% block breadcrumb %}
  {% if messages %}
    {% for message in messages %}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class=" alert {{message.tags}}">
        <strong>{{ message }}</strong>
      </div>
    </div>
    {% endfor %}
  {% endif %}
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h1 class="page-header">
      Course Details
      <a href="#" id="print" class="no-print-icon">
        <i class="fa fa-print green" aria-hidden="true"
          data-toggle="tooltip" data-placement="top"
          title="Print to paper or PDF"></i></a>
      {% if course.approved %}
        | <i class="fa fa-check green" data-toggle="tooltip" data-placement="top"
          title="Submitted for approval"></i>
      {% else %}
      {% if not course.save_submit %}
        | <a href="{% url 'course_update' 'course' course.id %}">
            <i class="fa fa-pencil green" aria-hidden="true"
              data-toggle="tooltip" data-placement="top"
              title="Update Course"></i></a>
      {% endif %}{% endif %}
      </h1>
    </div>
  </div>
  {% if course.save_submit and not course.approved %}
  <!-- /.row -->
  <div class="row mb-2" id="courseStatus">
    <div class="col-12 text-center">
      <div class="panel panel-default mb-3">
        <div class="panel-body">
        <a href="#" class="btn btn-default btn-success course-status"
          style="width:128px;" data-status="approved">Approve</a>
        <a href="#" class="btn btn-default btn-warning course-status"
          style="margin-left:24px;width:128px;" data-status="needswork">Needs Work</a>
        </div>
      </div>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  {% endif %}
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
      <div class="panel panel-default mb-3">
        <div class="panel-body">
          <h2 style="border-bottom: 1px black dotted;">{{course.title}}</h2>
          <h3>
            {{course.number}}
            {% if course.syllabus.phile %}
            <a href="{{media_url}}{{course.syllabus.phile}}" target="_blank">
              <i class="fas fa-duotone fa-file"
                data-toggle="tooltip" data-placement="top" title="Course Syllabus"></i></a>
            {% endif %}
          </h3>
          <h4>User activity</h4>
          <div class="container">
          <dl class="row">
          <dt class="col-sm-3">Submitted</dt>
          <dd class="col-sm-8">
            <a href="mailto:{{course.user.email}}">{{course.user.last_name}},
              {{course.user.first_name}}</a>
          </dd>
          <dt class="col-sm-3">Updated</dt>
          <dd class="col-sm-8">
            <a href="mailto:{{course.updated_by.email}}">{{course.updated_by.last_name}},
              {{course.updated_by.first_name}}</a>
          </dd>
          </dl>
          </div>
          <h4>Dates</h4>
          <div class="container">
          <dl class="row">
          <dt class="col-sm-3">Created</dt>
          <dd class="col-sm-8">{{course.created_at|date:'Y-m-d'}}</dd>
          <dt class="col-sm-3">Updated</dt>
          <dd class="col-sm-8">{{course.updated_at|date:'Y-m-d'}}</dd>
          <dt class="col-sm-3">Approved</dt>
          <dd class="col-sm-8">{{course.approved_date|date:'Y-m-d'}}</dd>
          </dl>
          </div>
          <h3 style="border-bottom: 1px black dotted;">Student Learning Outcomes</h3>
          {% for outcome in course.outcome.all %}
          {% if outcome.name not in "Written Communication,Oral Communication" %}
          <div>
            <h4>
              {{outcome.name}}
              <a style="cursor: help;" tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="{{outcome.rationale}}">
              <i class="fa fa-question-circle fa-xs green" aria-hidden="true"></i></a>
            </h4>
            <p>{{outcome.description}}</p>
            <ol>
              {% for element in outcome.elements.all %}
              <li>
                {{element.description}}
                {% for slo in element.slo.all %}
                  {% if slo.course == course %}
                  <div class="mt-2">{{slo.description|safe|default:""}}</div>
                  {% endif %}
                {% endfor %}
              </li>
              {% endfor %}
            </ol>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /col-8 -->
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
      <h2 style="border-bottom: 1px black dotted;">
        Comments
        <a href="" data-toggle="modal" data-target="#textModal" class="text-update">
          <i class="fa fa-comments green" data-toggle="tooltip"
            data-placement="top" title="Submit a note" aria-hidden="true"></i></a>
      </h2>
      <div id="comments-list">
      {% if course.perms.approve %}
        {% for note in course.notes.all %}
          {% if note.status %}
          {% cycle 'blue-box' 'lightgrey-box' as boxcolor silent %}
          {% include "dashboard/annotation.inc.html" with bgcolor=boxcolor %}
          {% endif %}
        {% endfor %}
      {% endif %}
      </div>
      <h2 style="border-bottom: 1px black dotted;">
        Documents
        <a href="" data-toggle="modal" data-target="#phileModal" class="phile-upload">
          <i class="fa fa-upload green" data-toggle="tooltip"
            data-placement="top" title="Upload a file" aria-hidden="true"></i></a>
      </h2>
      <div id="docs-list">
        {% for doc in course.docs.all %}
        {% if doc.phile %}
        <div>
          <a href="{{media_url}}{{doc.phile}}" target="_blank">
            <i class="fas fa-duotone fa-file"
               data-toggle="tooltip" data-placement="top" title="{{doc.name}}"></i>
            {{doc.name}}</a>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <!-- /col-4 -->
  </div>
  <!-- /.row -->
{% endblock content %}
{% block footer %}
<!-- #phileModal -->
<div class="modal fade" id="phileModal" aria-hidden="true"
  data-backdrop="static" data-keyboard="false" role="dialog"
  aria-labelledby="phileModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form method="post" action="{% url 'phile_upload' %}" enctype="multipart/form-data" autocomplete="false" class="form" role="form">
        {% csrf_token %}
        <input type="hidden" name="cid" value="{{course.id}}" id="id_course">
        <div class="header" style="padding:4px 8px 0 16px;">
          <label for="id_phile" style="margin-bottom:0;">
            <h5 id="phileModalHeader">Upload file</h5>
          </label>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="file" name="phile" id="id_phile" class="form-control">
          </div>
          <div class="form-group">
            <label for="id_name">Short Description</label><br>
            <input type="text" name="name" id="id_name" style="width:95%">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-success" id="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /#phileModal -->
<!-- #textModal -->
<div class="modal fade" id="textModal" aria-hidden="true"
  data-backdrop="static" data-keyboard="false" role="dialog"
  aria-labelledby="textModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="commentsForm">
        <div class="header" style="padding:4px 8px 0 16px;">
          <label for="id_body" style="margin-bottom:0;">
              <h5 id="textModalHeader">New comment</h5>
          </label>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <textarea class="form-control" name="body" id="id_body" rows="8" maxlength="1500" style="resize: none;height: 150px !important;width:95% !important;" placeholder="Limit: 250 words"></textarea>
            <input type="hidden" name="nid" value="0" id="id_nid">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-success" id="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /#textModal -->
<!-- #confirm-delete -->
<div class="modal fade" id="confirm-delete" role="dialog"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="deleteModalLabel">Confirm Delete</h4>
          <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">&times;</button>
        </div>
      <div class="modal-body">
        <p>
          You are about to delete a <strong class="object-title"></strong>.
        </p>
        <p>Would you like to proceed?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
        <a class="btn btn-danger btn-ok text-white">Delete</a>
      </div>
    </div>
  </div>
</div>
<!-- /#confirm-delete -->
{% endblock %}
