{% extends "home.html" %}
{% load static %}
{% block extra_style %}
<link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css"
  rel="stylesheet" type="text/css">
{{block.super}}
{% endblock %}
{% block extra_javascript %}
<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"
  type="text/javascript" charset="utf-8" language="javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"
  type="text/javascript" charset="utf-8" language="javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"
  type="text/javascript" charset="utf-8" language="javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"
  type="text/javascript" charset="utf-8" language="javascript"></script>
{{ block.super }}
{% endblock %}
{% block breadcrumb %}
  {% if messages %}
    {% for message in messages %}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class=" alert {{message.tags}}">
        <strong>{{ message }}</strong>
      </div>
    </div>
    {% endfor %}
  {% endif %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <h1>Courses</h1>
      </div>
      <div class="col-7 col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
        {% if manager %}
        <div class="btn-group float-left mt-2">
          <form id="courses-toggle" class="form-inline" method="post" action="." role="form">
            {% csrf_token %}
            <div class="form-group">
              <label style="margin-right:10px;">Only show</label>
              <select name="outcome" class="form-control">
                <option value="0">Show All</option>
                <option value="archives">Show Archives</option>
                {% for outcome in outcomes %}
                <option value="{{outcome.id}}">{{outcome.name}}</option>
                {% endfor %}
              </select>
            </div>
            <input type="submit" name="submit" value="submit"
              id="submit-toggle" style="margin:0 10px;"
              class="btn btn-primary">
          </form>
        </div>
        {% endif %}
      </div>
      <div class="col-2 col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="btn-group float-right">
          <a href="{% url 'course' %}" class="mt-2 mr-3 btn btn-default btn-primary">Submit Course</a>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body" id="data-panel">
          {% include "dashboard/data.inc.html" %}
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock content %}
